/*CONFIGURATIONS*/
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: #3f426e;
    background-color: #f0f5fd;
    font-family: sans-serif;
}

/*ETIQUETA ANCLA*/
a {
    text-decoration: none; 
}

/*NAVBAR*/
nav {
    background-color: #3e416d;
    border-radius: 3px;
    height: 2rem;
    padding-top: 7px;

}

.fexed {
    position: fixed;
    bottom: 0;
    right: 0;
}

nav a {
    text-transform: uppercase;
    font-size: 16px;
    color: #d9e8fb;
    text-decoration: none;
    padding-left: 1rem;
}

/*PALETA DE COLORES*/
.paleta {
    color: #4d4d87;
    color: #ffffff;
    color: #d9e8fb;
    color: #f0f5fd;
    color: #62d76b;
    /*Resultados*/
    color: #96bcef;
    color: #d9e8fb;
    color: #3e416d;
    color: #1e96ff;
    color: #3f426e;
    color: #b0b2be;
    /*Texto*/
    color: #9553f1;
    /*Sombra*/
}


/*CARD*/
.card {
    width: 100%;
    max-width: 100%;
    min-width: 50%;
    background-color: #ffffff;
    padding: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #d9e8fb;
    border-radius: 3px 3px 3px 3px;
}

/*SECTION*/
section p {
    margin-left: 3px;
    margin-right: 3px;
}

section img {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
}

section h2 {
text-align: center;
}

section h4 {
    text-decoration: underline;
}

/*ARTICLE*/
article {
    width: 100%;
    max-width: 100%;
    min-width: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
}

article h2 {
    text-align: center;
}
article p {
    text-align: center;
}

/*FOOTER*/
footer p {
    text-align: center;
    margin-top: 2rem;
}

/*RESPUESTAS A LAS PREGUNTAS*/
button {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #f0f5fd;
    box-shadow: 5px 5px 5px #d9e8fb;
    border-radius: 3px 3px 3px 3px;
}

/*CODIGO IDE*/
.fondo {
    background-color: #3e416d;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 5px;
}

.etiqueta {
    color: #62d76b;
}

.atributo {
    color:#9553f1;
}

.enfasis {
    color: #1e96ff;
}

/*TABLAS*/

table {
    background-color: #3e416d;
    text-align: center;
    margin: 0 auto;
    border-radius: 3px 3px 3px 3px;
}

tr {
    color:#d9e8fb;
    background-color:#4d4d87
}

td {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding: 4px;
}

table td tr .tr1 {
background-color: #96bcef;
}

/*IMAGENES*/
img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.correcta {
    background-color: #3f426e;
    color: #d9e8fb;
}
/*SIMULAR UNA NAVEGADOR*/