*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #F0F4FD;
font-family: sans-serif;
}
*/

body{
    display: flex;
    background-color: #F0F4FD;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-size: 1.3rem;
}

.navsup{
    height: 50px;
    color: #FFFFFF;
    background: #3E416E;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    margin: 0 auto;
    left:0; 
    top:0;
    z-index: 1;
    width:100%; 
    padding:15px
}

.navigation{
    height: 50px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position:fixed;
    margin: 0 auto;
    left:0; 
    bottom:0;
    z-index: 1;
    width:100%; 
    padding:15px
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;

}

/*
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
*/

.navigation ul li a .icon {
    position: relative;
    display: block;
    top: 20px;
    font-size: 1.5em;
    text-align: center;
}


.navigation ul li a .text {
    opacity: 0;
}

.active {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 4px solid #F0F4FD;
    bottom: 16px;
}

/*ACTIVE COLORS*/
.color_home .icon {
    color: #3E416E;
}

.color_html .icon {
    color: #D84924;
}

.color_css .icon {
    color: #006EBA;
}

.color_js .icon {
    color: #F5DC1D;
}

.color_settings .icon {
    color: aquamarine;
}

/*INACTIVE COLORS*/
.color_in .icon {
    color: #AAABB0;
}
    /*TEMAS*/
.tema {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0.2rem;
    border-radius: 4px 4px 4px 4px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.titulo_nav {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.tema_circular {
    background-color: #FFFFFF;
    padding: 0.2rem;
    border-radius: 4px 4px 4px 4px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 4px solid aliceblue;
}

.container {
    background-color: #F0F4FD;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-top: 6rem;
}

h3{
    text-align: center;
    color: #3E416E;
    margin-top: 30px;
    font-size: 16px;
}

p{
    text-align: center;
}

.icon_card {
    width: 30px;
    height: 30px;
    
}

.icon_card2 {
    background-color: #FFFFFF;
    padding: 0.2rem;
    border-radius: 4px 4px 4px 4px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: -40px;
    color: #D84924;
    
}

article a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #3E416E;
    padding: 2rem;
    line-height: 20px;
}