* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: #3f426e;
    background-color: #f0f5fd;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

nav {
    background-color: #3e416d;
    border-radius: 3px;
    height: 2rem;
    padding-top: 7px;
}

nav a {
    text-transform: uppercase;
    font-size: 16px;
    color: #d9e8fb;
    text-decoration: none;
    padding-left: 1rem;
}

.paleta {
    color: #4d4d87;
    color: #ffffff;
    color: #d9e8fb;
    color: #f0f5fd;
    color: #62d76b;
    /*Resultados*/
    color: #96bcef;
    color: #d9e8fb;
    color: #3e416d;
    color: #1e96ff;
    color: #3f426e;
    color: #b0b2be;
    /*Texto*/
    color: #9553f1;
    /*Sombra*/
}


/*Division*/

.card {
    width: 100%;
    max-width: 100%;
    min-width: 50%;
    background-color: #ffffff;
    padding: 1rem;
    margin-top: 10px;
    text-align: justify;
    box-shadow: 5px 5px 5px #d9e8fb;
    border-radius: 4px 4px 4px 4px;
}

section p {
    margin-left: 3px;
    margin-right: 3px;
}