/* Generales */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    /*Vuelve al contenido dentro de body, flexible*/
    display: flex;
    /*Centra horizontalmente*/
    justify-content: center;
     /*Centra verticalmente*/
    align-items: center;
   
}

/*Principal*/
.principal {
     /*Le dice a main que todos sus hijos son flexibles y con ello los alinea horizontalmente*/
    display: flex;
    /*Ancho máximo*/
    max-width: 768;
    /*Alto mínimo*/
    min-height: 320;
   
}

/*Columna*/
.columna {
    color: white;
    padding: 2rem;
    /* Es un espacio de relleno de afuera al centro*/
    width: 25%;
    /*el tamaño de cada columna sera del 20%*/
    overflow: hidden;
    /*el contenido que sobrepase el 20% se oculta*/
    transition: width .3s ease-in-out;
    /*Crea una transición al principio y al final*/
    cursor: pointer;
}

.columna.activa {
    width: 50%;
}

.columna:first-of-type {
    /* esto es una seudo-clase*/
    border-radius: 1rem 0 0 1rem;
    /*Crea un border en la esquina izquierda superior e inferior*/
}

.columna:last-of-type {
    border-radius: 0 1rem 1rem 0;
}

.sedan {
    background-color: orange;
}

.n2 {
    background-color: aqua;
}

.n3 {
    background-color: bisque;
}

/*Titulo*/
.titulo {
    text-transform: uppercase;
    /*convierte el texto en mayuscula*/
}

/*Texto*/
.texto {
    font-size: 14px;
    margin-bottom: 3rem;
}

/*Enlace*/
.enlace {
    text-decoration: none;
    /*Quita lo subrayado al link*/
    background-color: white;
    border-radius: 1rem;
    /*redondea el border del enlace*/
    padding: .5rem 1rem;
    /*a lo largo y ancho*/
    font-size: 12px;
}

/*Color de los botones*/
.sedan .enlace {
    color: orange;
}

.n2 .enlace {
    color: gray;
}

.n3 .enlace {
    color: gray;
}