nav {
    background-color: #3e416d;
}

html {
    background-color: #f0f5fd;
    color: #4d4d87;
}

.paleta {
    color: #4d4d87;
    color: #ffffff;
    color: #d9e8fb;
    color: #f0f5fd;
    color: #62d76b;
    /*Resultados*/
    color: #96bcef;
    color: #d9e8fb;
    color: #3e416d;
    color: #1e96ff;
    color: #3f426e;
    color: #b0b2be;
    /*Texto*/
    color: #9553f1;
    /*Sombra*/
}