*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #F0F4FD;
font-family: sans-serif;
}
*/

body{
    display: flex;
    background-color: #F0F4FD;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-size: 1.3rem;
}

.navsup{
background:#3E416E;
color: #FFFFFF;
width: 100%;
height: 50px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
padding: 10px;
align-items: center;
justify-content: center;
}

.navigation{
    height: 70px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position:fixed;
    left:0; 
    bottom:0;
    width:100%; 
    padding:15px
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}


.navigation ul li a .text {
    opacity: 0;
}

.active {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #D9E8FD;
    border-radius: 50%;
    border: 4px solid aliceblue;
    transition: 0.5s;
}

/*ACTIVE COLORS*/
.color_home .icon {
    color: #3E416E;
}

.color_html .icon {
    color: #D84924;
}

.color_css .icon {
    color: #006EBA;
}

.color_js .icon {
    color: #F5DC1D;
}

/*INACTIVE COLORS*/
.color_in .icon {
    color: #AAABB0;
}
    /*TEMAS*/
.tema {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0.2rem;
    border-radius: 4px 4px 4px 4px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.container {
    background-color: #F0F4FD;
    width: 95%;
}

.contenido{
    margin-top: 20px;
    background-color: #FFFFFF;
    width: 90%;
}


h3{
    text-align: center;
    color: #3E416E;
    margin-top: 30px;
    font-size: 16px;
}
